
.img128
{
    width: 20em;
    height: 9em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid white;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:15px; 
    color: black;
}
.img71
{
   width: 20em;
   height: 9em;
   background: white;
   box-shadow: 5px 5px 5px whitesmoke;
   padding: 5px 5px;
   border: 1px solid whitesmoke;
   float: left;
   border-radius: 20px/20px;
   text-align: justify;
   margin:15px;
   color: black;
}
.img68
{
    width: 20em;
    height: 9em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:15px;
    border: 20px/20px;
    color: black;
}
.img25
{
    width: 13em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:15px;
    color: black;
}
.img52
{
    width: 13em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:15px;
    color: black;
}
.img76
{
    width: 13em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:15px;
    color: black;
}
.img46
{
     width: 13em;
     background: white;
     box-shadow: 5px 5px 5px whitesmoke;
     padding: 5px 5px;
     border: 1px solid whitesmoke;
     float: left;
     border-radius: 20px/20px;
     text-align: justify;
     margin:15px;
     color: black;
}
.img23
{
   width: 13em;
   background: white;
   box-shadow: 5px 5px 5px whitesmoke;
   padding: 5px 5px;
   border: 1px solid whitesmoke;
   float: left;
   border-radius: 20px/20px;
   text-align: justify;
   margin: 15px;
   color: black;
}
.img96
{
   width: 13em;
   background: white;
   box-shadow: 5px 5px 5px whitesmoke;
   padding: 5px 5px;
   border: 1px solid whitesmoke;
   float: left;
   border-radius: 20px/20px;
   text-align: justify;
   margin:15px;
   color: black;
}
body
{
    border-radius: 20px/20px;
    background-color: white;
    margin:35px;
    color: black;
    max-width: 1440px;
    margin: 35px;
}
.VieuxPort
{
    float: left;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white; 
    color: black;  
}
.a_1
{
    float: left;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    color: black;
     margin-top: 20px;
     justify-content: space-between;
}
.iledufrioul
{
    float: none;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
    color: black;
    
}
.ParcNationaldesCalanques
{
    float: left;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
    color: black;
}
.Notre-Dame-de-la-Garde
{
    float:none;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
    color: black;
}
.ParcLongchamp
{
    float: none;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
    color: black;
}
.FortdePomegues 
{
     float: left;
     border-radius: 20px/20px;
     margin: 5px;
     text-align: justify;
     padding: 5px 5px;
     box-shadow: 2px 5px 5px 2px whitesmoke;
     background: white;
     color: black;
}
.a_2 
{
     float: right;
     margin: 5px;
     border-radius: 20px/20px;
     text-align: justify;
     padding: 5px 5px;
     color: black; 
     margin-right:30px; 
      margin-top: 20px;
    justify-content: space-between;
}
#footer 
{
    width: 100%;   
    text-align: justify;
    float: left;
    line-height: 2em; 
    background-color: whitesmoke; 
    height: 235px;
    color: black;
}
.nos_hebergement
{
    float:left;
    text-align:justify;
    margin-right:2em;
       
}
.a_propos
{
    float:left;
    text-align: justify;
    margin-right:2em; 
     
}
img 
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20PX;
}
.arrondie
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0em;
    border-top-right-radius: 0em;
}
header
{
    word-spacing: 5em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.assitance
{
    text-align:justify;
    float:left ;
    margin-right:1em; 
      
}
#plus_popular
{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 388px; 
    height: 680px;
    float: right;
    margin-top: 0px;
    color: black;
}
#hebergemen_marseille
{
     background-color: whitesmoke;
     border-radius: 20px;
     width: 775px;
     height: 680px;
     padding-top:5px;
     color: black;
}    
ul
{
    list-style-type: none;
   
}
.money
{
   width: 180px;
   height: 50px;
   border: 2px solid silver;
   border-radius: 50px;
   text-align:justify;
   float: left;
   line-height: 3em;
   margin:18px;
   color: black;
   display: flex;
   align-items: center;  
}
.child
{
     width: 140px;
     height: 50px;
     border: 2px solid silver;
     border-radius: 50px;
     text-align: center;
    float: left;
    margin:18px;
    color: black;
    display: flex;
    align-items: center;
}
.heart
{
     width: 190px;
     height: 50px;
     border: 2px solid silver;
     border-radius: 50px;
     text-align: justify;
     float: left;
     margin: 18px;
    color: black;
    display: flex;
    align-items: center;
}
.dog
{
     width: 200px;
     height: 50px;
     border: 2px solid silver;
     border-radius: 50px;
     text-align: justify;
     float: left;
     margin:18px;
     color: black;
    display: flex;
    align-items: center;
}
.info
{
    float:left; 
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    line-height: 35px;
    text-align: center;
    background-color: white;
    margin-right:15px; 
    align-items: center; 
    color: black;
}
#box_filtres
{
    font-size:18px;
    padding:50px;
    font-style: normal;
    display: flex;
    align-items: center;
    height: 50px; 
    padding-left: 2px;
    color: black;
}
a, a:hover, a:visited, a:active
{
    text-decoration: none;
}
.search_input
{
    border-radius: 5px;
    height:45px;
    width:220px;
    border: 1px solid white;
    padding:1px;   
}
.search_button
{
    width: 90px;
    border: 1px solid black;
    height: 12px;
    background-color: blue;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    padding:20px;
    color: white;
    justify-content: baseline; 
    display: flex;
    align-items: center;
}
#search_header
{
   
   display: flex;
   align-items: center;
}
.logement
{
    text-align: horizontal;
    float:left;
    width:500px
}
.chart-line
{ 
    align-items: center;
    float: left;
    display: flex;
    text-align: left;
    margin-left:50px;
    margin-right: 38px;  
}
.circle
{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    line-height: 55px;
    text-align: center;
    background-color:lightblue;
}
.search_map
{
    height: 50px;
    width: 52px;
    border: 1px solid whitesmoke;
    line-height: 55px;
    text-align: center;
    background-color: aliceblue;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    color: black;
}
#activites_a_marseille
{
    height:740px;
    width: 1250px;
    margin-bottom:2px;  
}
/* media query smartphone */
@media all and (max-device-width: 480px) and (max-width:600px){ 
{
     
}
.img128
{
    width: 20em;
    height: 9em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid white;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:15px; 
    color: black;
    display: flex;
    flex-direction: column;
}
.img71
{
   width: 20em;
   height: 9em;
   background: white;
   box-shadow: 5px 5px 5px whitesmoke;
   padding: 5px 5px;
   border: 1px solid whitesmoke;
   float: left;
   border-radius: 20px/20px;
   text-align: justify;
   margin:15px;
   color: black;
    display: flex;
    flex-direction: column;
}
.img68
{
    width: 20em;
    height: 9em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:15px;
    border: 20px/20px;
    color: black;
     display: flex;
    flex-direction: column;
}
.img25
{
    width: 13em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:15px;
    color: black;
     display: flex;
    flex-direction: column;
}
.img52
{
    width: 13em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:15px;
    color: black;
     display: flex;
    flex-direction: column;
}
.img76
{
    width: 13em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:15px;
    color: black;
    display: flex;
    flex-direction: column;
}
.img46
{
     width: 13em;
     background: white;
     box-shadow: 5px 5px 5px whitesmoke;
     padding: 5px 5px;
     border: 1px solid whitesmoke;
     float: left;
     border-radius: 20px/20px;
     text-align: justify;
     margin:15px;
     color: black;
    display: flex;
    flex-direction: column;
}
.img23
{
   width: 13em;
   background: white;
   box-shadow: 5px 5px 5px whitesmoke;
   padding: 5px 5px;
   border: 1px solid whitesmoke;
   float: left;
   border-radius: 20px/20px;
   text-align: justify;
   margin: 15px;
   color: black;
    display: flex;
    flex-direction: column;
}
.img96
{
   width: 13em;
   background: white;
   box-shadow: 5px 5px 5px whitesmoke;
   padding: 5px 5px;
   border: 1px solid whitesmoke;
   float: left;
   border-radius: 20px/20px;
   text-align: justify;
   margin:15px;
   color: black;
    display: flex;
    flex-direction: column;
}
body
{
    border-radius: 20px/20px;
    background-color: white;
    margin:35px;
    color: black;
    max-width: 1440px;
    margin: 35px;
     display: flex;
    flex-direction: column;
}
.VieuxPort
{
    float: left;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white; 
    color: black; 
    display: flex;
    flex-direction: column;
}
.a_1
{
    float: left;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    color: black;
     margin-top: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.iledufrioul
{
    float: none;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
}
.ParcNationaldesCalanques
{
    float: left;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
}
.Notre-Dame-de-la-Garde
{
    float:none;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
    color: black;
     display: flex;
    flex-direction: column;
}
.ParcLongchamp
{
    float: none;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
}
.FortdePomegues 
{
     float: left;
     border-radius: 20px/20px;
     margin: 5px;
     text-align: justify;
     padding: 5px 5px;
     box-shadow: 2px 5px 5px 2px whitesmoke;
     background: white;
     color: black;
     display: flex;
    flex-direction: column;
}
.a_2 
{
     float: right;
     margin: 5px;
     border-radius: 20px/20px;
     text-align: justify;
     padding: 5px 5px;
     color: black; 
     margin-right:30px; 
      margin-top: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
#footer 
{
    width: 100%;   
    text-align: justify;
    float: left;
    line-height: 2em; 
    background-color: whitesmoke; 
    height: 235px;
    color: black;
    display: flex;
    flex-direction: column;
}
.nos_hebergement
{
    float:left;
    text-align:justify;
    margin-right:2em;
    display: flex;
    flex-direction: column;
}
.a_propos
{
    float:left;
    text-align: justify;
    margin-right:2em; 
    display: flex;
    flex-direction: column;
}
img 
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20PX;
}
.arrondie
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0em;
    border-top-right-radius: 0em;
}
header
{
    word-spacing: 5em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.assitance
{
    text-align:justify;
    float:left ;
    margin-right:1em; 
    display: flex;
    flex-direction: column;
}
#plus_popular
{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 388px; 
    height: 680px;
    float: right;
    margin-top: 0px;
    color: black;
    display: flex;
    flex-direction: column;
}
#hebergemen_marseille
{
     background-color: whitesmoke;
     border-radius: 20px;
     width: 775px;
     height: 680px;
     padding-top:5px;
     color: black;
     display: flex;
    flex-direction: column;
}    
ul
{
    list-style-type: none;
   
}
.money
{
   width: 180px;
   height: 50px;
   border: 2px solid silver;
   border-radius: 50px;
   text-align:justify;
   float: left;
   line-height: 3em;
   margin:18px;
   color: black;
   display: flex;
   align-items: center;
    display: flex;
    flex-direction: column;
}
.child
{
     width: 140px;
     height: 50px;
     border: 2px solid silver;
     border-radius: 50px;
     text-align: center;
    float: left;
    margin:18px;
    color: black;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.heart
{
     width: 190px;
     height: 50px;
     border: 2px solid silver;
     border-radius: 50px;
     text-align: justify;
     float: left;
     margin: 18px;
    color: black;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.dog
{
     width: 200px;
     height: 50px;
     border: 2px solid silver;
     border-radius: 50px;
     text-align: justify;
     float: left;
     margin:18px;
     color: black;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.info
{
    float:left; 
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    line-height: 35px;
    text-align: center;
    background-color: white;
    margin-right:15px; 
    align-items: center; 
    color: black;
    display: flex;
    flex-direction: column;
}
#box_filtres
{
    font-size:18px;
    padding:50px;
    font-style: normal;
    display: flex;
    align-items: center;
    height: 50px; 
    padding-left: 2px;
    color: black;
    display: flex;
    flex-direction: column;
}
a, a:hover, a:visited, a:active
{
    text-decoration: none;
}
.search_input
{
    border-radius: 5px;
    height:45px;
    width:220px;
    border: 1px solid white;
    padding:1px; 
    display: flex;
    flex-direction: column;
}
.search_button
{
    width: 90px;
    border: 1px solid black;
    height: 12px;
    background-color: blue;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    padding:20px;
    color: white;
    justify-content: baseline; 
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#search_header
{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.logement
{
    text-align: horizontal;
    float:left;
    width:500px
}
.chart-line
{ 
    align-items: center;
    float: left;
    display: flex;
    text-align: left;
    margin-left:50px;
    margin-right: 38px; 
    display: flex;
    flex-direction: column;
}
.circle
{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    line-height: 55px;
    text-align: center;
    background-color:lightblue;
    display: flex;
    flex-direction: column;
}
.search_map
{
    height: 50px;
    width: 52px;
    border: 1px solid whitesmoke;
    line-height: 55px;
    text-align: center;
    background-color: aliceblue;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    color: black;
    display: flex;
    flex-direction: column;
}
#activites_a_marseille
{
    height:740px;
    width: 1250px;
    margin-bottom:2px; 
    display: flex;
    flex-direction: column;
}