.img128
{
    width: 20em;
    height: 9em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid white;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:18px; 
}
.img71
{
   width: 20em;
   height: 9em;
   background: white;
   box-shadow: 5px 5px 5px whitesmoke;
   padding: 5px 5px;
   border: 1px solid whitesmoke;
   float: left;
   border-radius: 20px/20px;
   text-align: justify;
   margin:18px;
}
.img68
{
    width: 20em;
    height: 9em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:18px;
    border: 20px/20px;
}
.img25
{
    width: 13em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:18px;
}
.img52
{
    width: 13em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:18px;
}
.img76
{
    width: 13em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin:18px;
}
.img46
{
     width: 13em;
     background: white;
     box-shadow: 5px 5px 5px whitesmoke;
     padding: 5px 5px;
     border: 1px solid whitesmoke;
     float: left;
     border-radius: 20px/20px;
     text-align: justify;
     margin:18px;
}
.img23
{
   width: 13em;
   background: white;
   box-shadow: 5px 5px 5px whitesmoke;
   padding: 5px 5px;
   border: 1px solid whitesmoke;
   float: left;
   border-radius: 20px/20px;
   text-align: justify;
   margin: 18px;
}
.img96
{
   width: 13em;
   background: white;
   box-shadow: 5px 5px 5px whitesmoke;
   padding: 5px 5px;
   border: 1px solid whitesmoke;
   float: left;
   border-radius: 20px/20px;
   text-align: justify;
   margin:18px;
}
body
{
    border-radius: 20px/20px;
    background-color: white;
    margin: 2px; 
    max-width: 1440px;
}
.VieuxPort
{
    float: left;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;    
}
.a_1
{
    float: left;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px w;   
}
.iledufrioul
{
    float: none;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
}
.ParcNationaldesCalanques
{
    float: left;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
   background: white;
}
.Notre-Dame-de-la-Garde
{
    float:none;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
}
.ParcLongchamp
{
    float: none;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
}
.FortdePomegues 
{
     float: left;
     border-radius: 20px/20px;
     margin: 5px;
     text-align: justify;
     padding: 5px 5px;
     box-shadow: 2px 5px 5px 2px whitesmoke;
     background: white;
}
.a_2 
{
     float: right;
     margin: 5px;
     border-radius: 20px/20px;
     text-align: justify;
     padding: 5px 5px;  
}
#footer 
{
    width: 1250px;   
    text-align: justify;
    float: left;
    float: right;
    line-height: 2em; 
    background-color: whitesmoke; 
    height: 240px;     
}
.nos_hebergement
{
    float:left;
    text-align:justify;
    margin-right:10em;   
}
.a_propos
{
    float:left;
    text-align: justify;
    margin-right: 20em;  
}
img 
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20PX;
}
.arrondie
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0em;
    border-top-right-radius: 0em;
}
header
{
    word-spacing: 5em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.assitance
{
    text-align:justify;
    float:left ;
    margin-right:1em;   
}
#plus_popular
{
    background-color: whitesmoke;
    border-radius: 20px;
    height: 680px;
    width: 450px; 
    float: right;
     
}
#hebergemen_marseille
{
     background-color: whitesmoke;
     border-radius: 20px;
     height: 680px;
     width: 775px;
}
ul
{
    list-style-type: none;
   
}
.money
{
   width: 180px;
   height: 50px;
   border: 2px solid silver;
   border-radius: 50px;
   text-align:justify;
   float: left;
   line-height: 3em;
   margin: em;
   margin:18px;
   color: black;
   display: flex;
   align-items: center;
}
.child
{
     width: 140px;
     height: 50px;
     border: 2px solid silver;
     border-radius: 50px;
     text-align: center;
    float: left;
    margin:18px;
    color: black;
    display: flex;
    align-items: center;
}
.heart
{
     width: 190px;
     height: 50px;
     border: 2px solid silver;
     border-radius: 50px;
     text-align: justify;
     float: left;
     margin: 18px;
    color: black;
    display: flex;
    align-items: center;
}
.dog
{
     width: 200px;
     height: 50px;
     border: 2px solid silver;
     border-radius: 50px;
     text-align: justify;
     float: left;
     margin:18px;
     color: black;
    display: flex;
    align-items: center;
}
.info
{
    float:left; 
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    line-height: 35px;
    text-align: center;
    background-color: white;
    margin-right:1em; 
     
}
#box_filtres
{
    font-size:18px;
    padding:50px;
    font-style: normal;
    display: flex;
    align-items: center;
    height: 5px;  
}
a, a:hover, a:visited, a:active
{
    text-decoration: none;
}
.search_input
{
    border-radius: 5px;
    height:45px;
    width:220px;
    border: 1px solid white;
    padding:1px;   
}
.search_button
{
    width: 90px;
    border: 1px solid black;
    height: 12px;
    background-color: blue;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    padding:20px;
    color: white;
    justify-content: baseline; 
    display: flex;
    align-items: center;
}
#search_header
{
   
   display: flex;
   align-items: center;
}
.logement
{
    text-align: horizontal;
    float:left;
    width:500px
}
.chart-line
{
    justify-content: space-between;
    display: flex;
    align-items: center;
    float: right;
    font-size:25px;
    text-align: center;  
}
.circle
{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    line-height: 55px;
    text-align: center;
    background-color: aliceblue;
}
.search_map
{
    height: 50px;
    width: 52px;
    border: 1px solid whitesmoke;
    line-height: 55px;
    text-align: center;
    background-color: aliceblue;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    color: black;
}
#activites_a_marseille
{
    height:770px;
    width: 1250px;
}

