.img128
{
    width: 20em;
    height: 9em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid white;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin: 35px;
  
}
.img71
{
   width: 20em;
   height: 9em;
   background: white;
   box-shadow: 5px 5px 5px whitesmoke;
   padding: 5px 5px;
   border: 1px solid whitesmoke;
   float: left;
   border-radius: 20px/20px;
   text-align: justify;
   margin: 35px;
}
.img68
{
    width: 20em;
    height: 9em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin: 35px;
    border: 20px/20px;
}
.img25
{
    width: 20em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin: 35px;
    
}
.img52
{
    width: 20em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin: 35px;
}
.img76
{
    width: 20em;
    background: white;
    box-shadow: 5px 5px 5px whitesmoke;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    float: left;
    border-radius: 20px/20px;
    text-align: justify;
    margin: 35px;
}
.img46
{
     width: 20em;
     background: white;
     box-shadow: 5px 5px 5px whitesmoke;
     padding: 5px 5px;
     border: 1px solid whitesmoke;
     float: left;
     border-radius: 20px/20px;
     text-align: justify;
     margin: 35px;
}
.img23
{
   width: 20em;
   background: white;
   box-shadow: 5px 5px 5px whitesmoke;
   padding: 5px 5px;
   border: 1px solid whitesmoke;
   float: left;
   border-radius: 20px/20px;
   text-align: justify;
   margin: 35px;
}
.img96
{
   width: 20em;
   background: white;
   box-shadow: 5px 5px 5px whitesmoke;
   padding: 5px 5px;
   border: 1px solid whitesmoke;
   float: left;
   border-radius: 20px/20px;
   text-align: justify;
   margin: 35px;
}
body
{
    border-radius: 20px/20px;
    background-color: white;
   
}
.VieuxPort
{
    float: left;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;    
}
.a_1
{
    float: left;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px w;
    
    
}
.iledufrioul
{
    float: none;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
}
.ParcNationaldesCalanques
{
    float: left;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
   background: white;
}
.Notre-Dame-de-la-Garde
{
    float:none;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
}
.ParcLongchamp
{
    float: none;
    margin: 5px;
    border-radius: 20px/20px;
    text-align: justify;
    padding: 5px 5px;
    box-shadow: 2px 5px 5px 2px whitesmoke;
    background: white;
}
.FortdePomegues 
{
     float: left;
     border-radius: 20px/20px;
     margin: 5px;
     text-align: justify;
     padding: 5px 5px;
     box-shadow: 2px 5px 5px 2px whitesmoke;
     background: white;
}
.a_2 
{
     float: right;
     margin: 5px;
     border-radius: 20px/20px;
     text-align: justify;
     padding: 5px 5px;
   
}
footer
{
    width: 1099px;
    display: flex;
    position: relative;
    text-align: justify;
}
div.centre
{
    float:center;
    text-align:justify;
}
div.droit
{
    float: right;
    text-align: justify;
}
.gauche
{
    float:left;
    text-align: left;
}
img 
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20PX;
}
.arrondie
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0em;
    border-top-right-radius: 0em;
}
nav
{
    word-spacing: 5em;
    text-align: right;
}
.gauche
{
    text-align: left;
}
#conteneur1
{
    background-color: whitesmoke;
    border-radius: 20px;
    height: 300px;
   
}
#conteneur2
{
     background-color: whitesmoke;
     border-radius: 20px;
     height: 720px;
}